.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;            /* já centraliza o modal */
  align-items: center;
  justify-content: center;
  z-index: 9998;            /* overlay */
}
.modal-card {
  z-index: 9999;            /* modal acima */
}
.modal-card {
  background: white;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  padding: 25px 30px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-out;
}

/* Header do modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h2 {
  margin: 0;
  font-size: 22px;
  color: #222;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 10px 0;
}

.modal-descricao {
  margin: 10px 0;
}

.modal-descricao p {
  margin-top: 4px;
}

/* Tags */
.modal-tags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modal-tags .tag {
  padding: 5px 12px;
  background: #e7f6ee;
  border-radius: 50px;
  font-size: 13px;
  color: #0c7c38;
}

/* Botão */
.btn-inscrever {
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
  background: #108f56;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-inscrever:hover {
  background: rgb(0, 136, 59);
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
